@page "/shop"
@inject ICheckoutService CheckoutService
@inject ICartService CartService
@inject IVoucherService VoucherService
@inject IJSRuntime JS

@rendermode InteractiveServer

<link rel="stylesheet" href="/css/Shop.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="header-shop-controls d-flex justify-content-between align-items-center p-3 mb-4 bg-light shadow-sm sticky-top">
    
    <h2 class="mg-2 mb-0 me-3">Bán hàng trực tuyến</h2>
    
    <div class="search-bar flex-grow-1 me-4">
        <div class="input-group">
            <input type="text" 
                   class="form-control" 
                   placeholder="Tìm kiếm sản phẩm..." 
                   @bind="SearchTerm" 
                   @bind:after="HandleSearch" />
            <button class="btn btn-danger" type="button">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
    
    <div class="controls-group d-flex align-items-center">
        
        <a @onclick="()=> ShowOrder()" class="btn btn-outline-secondary me-3" title="Đơn hàng của tôi">
            <i class="bi bi-box-seam fs-4"></i>
            </a>
        
        <div class="cart-dropdown dropdown">
            <button class="btn btn-outline-danger position-relative" type="button" 
                    data-bs-toggle="dropdown" aria-expanded="false" id="cartDropdownButton" @onclick="async ()=> await ShowCart()">
                <i class="bi bi-cart fs-4"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @CartItemCount
                    <span class="visually-hidden">sản phẩm trong giỏ</span>
                </span>
            </button>
            
            <div class="dropdown-menu dropdown-menu-end p-3 cart-mini-menu" 
                 aria-labelledby="cartDropdownButton">
                <h6 class="dropdown-header text-center fw-bold">Giỏ Hàng Của Bạn (@CartItemCount)</h6>
                
                @if (CartItemCount == 0)
                {
                    <p class="text-center text-muted my-3">Giỏ hàng trống.</p>
                }
                else
                {
                    <ShopMiniCart CartItems="cartItems" OnOpenCart="ShowCart"/>
                }
            </div>
        </div>
    </div>
    </div>

<div class="product-carousel-container my-3 p-2 bg-white border rounded">
    <h2 class="carousel-title fs-5 fw-bold mb-3 p-2 text-danger">
        Danh sách sản phẩm
    </h2>
    
    <div class="product-grid-scroll-wrapper p-1"> 
        
        <div class="row g-2"> 
            <ShopProducts Products="productFilter" OnAddCart="OnAddCart"/>            
        </div>
        
    </div>
</div>
<DialogContainer IsOpen="@showDialog" IsOpenChanged="OnDialogChanged">
    @currentDialog
</DialogContainer>
@code {

}


@code {
    private List<Product> products { get; set; } = new List<Product>();
    private List<Product> productFilter { get; set; } = new List<Product>();
    private List<Voucher> vouchers { get; set; } = new();
    public string SearchTerm { get; set; } = string.Empty;
    private int UserId { get; set; } = Session.CurrentUserId ?? 1;
    bool showDialog;
    RenderFragment? currentDialog;
    private void HandleSearch()
    {
        productFilter = products.Where(p => p.Name.ToLower().Contains(SearchTerm.ToLower())
            || p.Categories.Name.ToLower().Contains(SearchTerm.ToLower())).ToList();   
    }
    public List<CartItems> cartItems { get; set; } = new List<CartItems>();
    private int CartItemCount
    {
        get
        {
            return cartItems.Count;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        products = await CheckoutService.PCGetAllProductAsync();
        cartItems = await CartService.GetAllByCustomerIdAsync(UserId);
        productFilter = products.ToList();
    }

    async Task GetVoucher()
    {
        vouchers = await VoucherService.GetAllAvailableAsync();
    }

    async Task OnAddCart(int productId)
    {
        var newCartItem = await CartService.CreateAsync(new CartItems()
        {
            ProductId = productId,
            CustomerId = UserId,
            Quantity = 1

        });
        if (newCartItem != null)
        {
            var entry = cartItems.FirstOrDefault(i => i.Id == newCartItem.Id );
            if(entry != null)
            {
                entry.Quantity = newCartItem.Quantity;
            }
            else
            {
                cartItems.Add(newCartItem);
            }
            await ShowSuccess("Đã thêm vào giỏ hàng!");
        }
        else
        {
            await ShowError("Lỗi! Không thể thêm sản phẩm vào giỏ hàng!");
        }
    }
    async Task ShowCart()
    {
        await GetVoucher();
        currentDialog = builder =>
        {
            builder.OpenComponent(0, typeof(CartIndex));
            builder.AddAttribute(1, "CartItems", cartItems);
            builder.AddAttribute(2, "OnClose", EventCallback.Factory.Create<bool>(this, OnClose));
            builder.AddAttribute(3, "OnRemoveItem", EventCallback.Factory.Create<int>(this, RemoveItem));
            builder.AddAttribute(4, "OnCheckout", EventCallback.Factory.Create<CheckoutEventAgrs>(this, OnCheckout));
            builder.AddAttribute(5, "Vouchers", vouchers);
            builder.CloseComponent();
        };

        showDialog = true;
        StateHasChanged();
    }

    void  ShowOrder()
    {
        currentDialog = builder =>
        {
            builder.OpenComponent(0, typeof(HistoriesOrder));
            builder.AddAttribute(1, "UserId", UserId);
            // builder.AddAttribute(2, "OnClose", EventCallback.Factory.Create<bool>(this, OnClose));
            builder.CloseComponent();
        };

        showDialog = true;
        StateHasChanged();
    }

    void OnOpenBill(Order order)
    {
        currentDialog = builder =>
        {
            builder.OpenComponent(0, typeof(CartBill));
            builder.AddAttribute(1, "NewOrder", order);
            builder.CloseComponent();
        };

        showDialog = true;
        StateHasChanged();
    }

    Task OnDialogChanged(bool v)
    {
        showDialog = v;
        return Task.CompletedTask;
    }

    async Task RemoveItem(int cartItemId)
    {
        if(await ShowConfirm("Bạn có chắc muốn xóa sản phẩm này khỏi giỏ hàng không?"))
        {
            await CartService.DeleteByIdAsync(cartItemId);
            cartItems.RemoveAll(c => c.Id == cartItemId);
            await ShowSuccess("Đã xóa khỏi giỏ hàng!");
        }
    }
    async Task OnCheckout(CheckoutEventAgrs agrs)
    {
        var resultCart = cartItems.Where(i => agrs.SelectedCartItemIds.Contains(i.Id)).ToList();
        var orderDetails = new List<OrderDetail>();
        foreach(var c in resultCart)
        {
            orderDetails.Add(new OrderDetail()
            {
                ProductId = c.ProductId,
                Quantity = c.Quantity,
                UnitPrice = c.Product.Price,
                Product = products.FirstOrDefault(p => p.Id == c.ProductId)
            });
        }
        var newOrder = new Order()
            {
                CustomerId = UserId,
                VoucherId = agrs.VoucherId,
                OrderDetails =orderDetails,
                Voucher = vouchers.FirstOrDefault(v => v.Id == agrs.VoucherId),
                PaymentMethod ="Transfer"
            };
        try
        {
            var result = await CheckoutService.PCCreateOrderAsync(UserId, newOrder, agrs.SelectedCartItemIds);
            if (result != null)
            {
                cartItems.RemoveAll(c => agrs.SelectedCartItemIds.Contains(c.Id));
                await ShowSuccess("Tạo đơn hàng thành công!");
                showDialog = false;
                OnOpenBill(result);
            }
            else
            {
                await ShowError("Tạo đơn hàng không thành công, vui lòng thử lại sau!");
            }

        }
        catch (Exception)
        {
            throw;
        }
    }
    void OnClose(bool v)
    {
        showDialog = v;
        StateHasChanged();
    }

    private async Task ShowSuccess(string message)
    {
        await JS.InvokeVoidAsync("SwalInterop.ShowSuccess", message);
    }

    private async Task ShowError(string message)
    {
        await JS.InvokeVoidAsync("SwalInterop.ShowError", message);
    }

    private async Task<bool> ShowConfirm(string message)
    {
        bool confirmed = await JS.InvokeAsync<bool>("SwalInterop.ShowConfirm", message);
        return confirmed;
    }
}