
#create-container, #detail-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#create-content, #detail-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 60%;
    max-height: 80%;
    overflow-y: auto;
}

#btnRefreshOrder{
    display:none;
}

.sp-pending{
    background-color : deepskyblue;
}

.sp-paid {
    background-color: forestgreen;
}

.sp-canceled {
    background-color: red;
}