
a.navbar-brand[b-vjfv43pweh] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-vjfv43pweh] {
    color: #0077cc;
}

.btn-primary[b-vjfv43pweh] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vjfv43pweh], .nav-pills .show > .nav-link[b-vjfv43pweh] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-vjfv43pweh] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-vjfv43pweh] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vjfv43pweh] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vjfv43pweh] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-vjfv43pweh] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
