@inherits LayoutComponentBase
@inject NavigationManager Navigation

<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/site.css" />

@{
    // Danh sách path mà bạn muốn ẩn Nav
    var hideNavPages = new[] { "/", "/login","/shop" };
    var path = new Uri(Navigation.Uri).AbsolutePath.ToLower();
    var showNav = !hideNavPages.Contains(path);
}


<div class="page">
    @if (showNav)
    {
        <header>
            <NavMenu />
        </header>
    }

    <div class="container">
        <div class="content px-4 py-3">
            @Body
        </div>
    </div>

    <footer class="border-top text-muted mt-4 p-3">
        <div class="container">
            © 2025 - QuanLyBanHang.Web
        </div>
    </footer>
</div>
