@if (IsOpen)
{
    <div class="modal-backdrop fade show"></div>

    <div class="modal d-block" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    @ChildContent
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="Close">Đóng</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    Task Close() => IsOpenChanged.InvokeAsync(false);
}
